.byte-size-input {
  width: 100%;
  
  .p-selectbutton {
    height: 100%;
    
    .p-button {
      min-width: 3rem;
    }
  }
  
  .form-helper-text {
    color: var(--text-color-secondary);
    font-size: 0.875rem;
    margin-top: 0.25rem;
    display: block;
  }
}
