<div class="field-input byte-size-input">
  <div class="p-inputgroup">
    <p-inputNumber 
      [ngModel]="value()"
      (ngModelChange)="value.set($event); updateValue()"
      [min]="min"
      [disabled]="disabled"
      [placeholder]="placeholder"
      [showButtons]="false"
      [inputStyleClass]="'w-full'"
      class="flex-auto">
    </p-inputNumber>
    
    <p-selectButton 
      [options]="unitOptions" 
      [ngModel]="unit()"
      (ngModelChange)="unit.set($event); updateUnit()"
      [disabled]="disabled"
      optionLabel="label" 
      optionValue="value">
    </p-selectButton>
  </div>
  
  <small class="form-helper-text" *ngIf="helpText">{{ helpText }}</small>
</div>
